
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.forget-password-AhC {
  background-color: #fafafa;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .navigationbar-X1x {
    flex-shrink: 0;
    margin-bottom: 4rem;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    padding: 1.2rem 1.467rem 1.6rem 2.4rem;
    width: 37.5rem;

    .status-bar-2jQ {
      margin: 0rem 0rem 2.2rem 1rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .time-ZjL {
        color: #1e1f20;
        font-family: Mulish, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 23.1667rem;
        line-height: 1.2857142857;
        letter-spacing: -0.028rem;
        white-space: nowrap;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
      }
      .cellular-connection-FcA {
        margin: 0rem 0.503rem 0.167rem 0rem;
        width: 1.7rem;
        height: 1.0667rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .wifi-a8e {
        flex-shrink: 0;
        margin: 0rem 0.503rem 0.17rem 0rem;
        width: 1.5272rem;
        height: 1.0966rem;
        object-fit: contain;
        vertical-align: top;
      }
      .battery-uRp {
        margin-bottom: 0.1333rem;
        width: 2.4328rem;
        height: 1.1333rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-sq2s-e8W {
      margin-right: 0.9328rem;
      width: 32.7rem;
      flex-shrink: 0;

      .licon-PLz {
        object-fit: contain;
        vertical-align: top;
        margin-right: 28.7rem;
        width: 4rem;
        height: 4rem;
      }
    }
  }
  .content-726 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-chwu-Gfg {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 2.496rem 12.369rem 2.496rem;
      width: 100%;
      align-items: center;
      display: flex;

      .forget-password-o9p {
        flex-shrink: 0;
        margin: 0rem 14.608rem 0.694rem 0rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1666666667;
        color: #1e1f20;
        font-family: Mulish, 'Source Sans Pro';
        white-space: nowrap;
      }
      .please-enter-your-em-7RQ {
        margin: 0rem 0.308rem 4.331rem 0rem;
        max-width: 33.7rem;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.6923076923;
        color: #1e1f20;
        font-family: Mulish, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .input-Pti {
        margin-bottom: 2.7626rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 0.8rem;
        flex-shrink: 0;

        .label-jxa {
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          font-size: 1.3rem;
          font-weight: 600;
          line-height: 1.2307692308;
          color: #1e1f20;
        }
        .auto-group-hnt8-g78 {
          box-sizing: border-box;
          box-shadow: 0 0.5rem 1rem rgba(147, 147, 170, 0.1199999973);
          background-color: #ffffff;
          border-radius: 0.8rem;
          flex-shrink: 0;
          padding: 1.1rem 1.208rem 1.187rem 1.6rem;
          width: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #30c084;

          .detail-CbG {
            flex-shrink: 0;
            margin: 0rem 0.54rem 0.113rem 0rem;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.6;
            color: #1e1f20;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
          }
          .pointer-XdY {
            margin: 0.434rem 13.656rem 0rem 0rem;
            width: 0.104rem;
            height: 2.0788rem;
            background-color: #1e1f20;
            flex-shrink: 0;
          }
          .fill-rvi {
            margin-top: 0.0872rem;
            width: 2.4rem;
            height: 2.4rem;
            background-color: #f0f0f0;
            flex-shrink: 0;
          }
        }
      }
      .btnnext-jzW {
        width: 100%;
        height: 5.197rem;
        cursor: pointer;
        flex-shrink: 0;

        .btn-JXp {
          height: 100%;
          font-size: 1.5rem;
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
          text-align: center;
          font-weight: 700;
          line-height: 1.2;
          display: flex;
          align-items: center;
          width: 100%;
          font-family: Mulish, 'Source Sans Pro';
          background: linear-gradient(45deg, #30c084 0%, #56e0e0 100%);
          border-radius: 1.2rem;
        }
      }
    }
    .auto-group-sbne-yP4 {
      background-image: url('REPLACE_IMAGE:2f329ef555d490400adf2fdc4579dae87049c987');
      flex-shrink: 0;
      box-sizing: border-box;
      padding-top: 26.7128rem;
      width: 100%;
      height: 30.2468rem;
      background-size: 100% 100%;

      .home-indicatorblack-814 {
        box-sizing: border-box;
        padding: 2.2rem 12.8rem 0.834rem 12.7rem;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.0001);

        .home-indicator-G7G {
          width: 100%;
          height: 0.5rem;
          background-color: rgba(30, 31, 32, 0.0001);
          border-radius: 10rem;
        }
      }
      .auto-group-sbne-yP4-bg {
        width: 39rem;
        height: 30.2468rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:2f329ef555d490400adf2fdc4579dae87049c987');
      }
    }
  }
}
