
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.home-dashboard2-HMp {
  box-sizing: border-box;
  padding: 6.5rem 0.8rem 0rem 0.7rem;
  width: 100%;
  height: 84.4rem;
  overflow: hidden;
  position: relative;
  background-color: #fafafa;

  .content-SP8 {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80.1rem;

    .auto-group-syea-kuc {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 0.996rem 18.6rem 2.496rem;

      .auto-group-vyol-5BC {
        width: 100%;
        height: 13.6882rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 3.6118rem;

        .hi-DYJ {
          width: 34.008rem;
          height: 13.3882rem;
          position: absolute;
          left: 0;
          top: 0.3rem;

          .auto-group-bugz-ZMG {
            display: flex;
            align-items: center;
            margin: 0rem 20.884rem 4.241rem 0rem;
            width: calc(100% - 20.884rem);

            .rounded-Ho4 {
              margin-right: 1.664rem;
              width: 4.16rem;
              height: 4.1576rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .hi-devin-EiJ {
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.0424rem;
              font-size: 1.7rem;
              font-weight: 700;
              line-height: 1.1764705882;
              color: #1e1f20;
            }
          }
          .insearch-vb8 {
            box-shadow: 0 0.5rem 1rem rgba(0, 64, 128, 0.0399999991);
            background-color: #ffffff;
            border-radius: 1.2rem;
            box-sizing: border-box;
            padding: 1.5rem 1.8rem 1.489rem 1.8rem;
            width: 100%;

            .icon-GQ6 {
              margin-right: 28.408rem;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .notification-m5x {
          left: 28.504rem;
          top: 0;
          width: 4.7rem;
          height: 4.7rem;
          position: absolute;

          .icbase-J5t {
            vertical-align: top;
            width: 4rem;
            height: 4rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
            object-fit: contain;
          }
          .counter-qbc {
            width: 1.6rem;
            height: 1.6rem;
            line-height: 1.255;
            background-color: #30c084;
            position: absolute;
            top: 0;
            white-space: nowrap;
            justify-content: center;
            text-align: center;
            align-items: center;
            left: 3.1rem;
            font-size: 1.1rem;
            font-weight: 600;
            color: #ffffff;
            font-family: Mulish, 'Source Sans Pro';
            display: flex;
            border-radius: 10rem;
          }
        }
      }
      .tasks-for-today-Uea {
        flex-shrink: 0;
        margin: 0rem 12.7rem 2.6rem 0rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1666666667;
        color: #1e1f20;
        font-family: Mulish, 'Source Sans Pro';
        white-space: nowrap;
      }
      .input-PWe {
        display: flex;
        flex-direction: column;
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin: 0rem 0.904rem 1.5rem 0.404rem;
        width: calc(100% - 1.308rem);

        .label-7xS {
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          font-size: 1.3rem;
          font-weight: 600;
          line-height: 1.2307692308;
          color: #1e1f20;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-m5tj-G4e {
          align-items: center;
          border: solid 0.1rem #f0f0f0;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.1rem 1.2rem 1.2rem 1.6rem;
          width: 100%;
          display: flex;

          .detail-o4a {
            flex-shrink: 0;
            margin: 0rem 13.5rem 0.1rem 0rem;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.6;
            color: #979797;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
          }
          .fill-8Mk {
            width: 2.4rem;
            height: 2.4rem;
            background-color: #f0f0f0;
            flex-shrink: 0;
            margin-top: 0.1rem;
          }
        }
      }
      .input-q1G {
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin: 0rem 0.904rem 1.5rem 0.404rem;
        width: calc(100% - 1.308rem);
        display: flex;
        flex-direction: column;

        .label-ktv {
          font-weight: 600;
          line-height: 1.2307692308;
          color: #1e1f20;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          font-size: 1.3rem;
        }
        .auto-group-qjt4-W7Q {
          box-sizing: border-box;
          padding: 1.1rem 1.2rem 1.2rem 1.6rem;
          width: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #f0f0f0;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .detail-37L {
            font-weight: 600;
            line-height: 1.6;
            color: #ababab;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 13.1rem 0.1rem 0rem;
            font-size: 1.5rem;
          }
          .fill-yWn {
            flex-shrink: 0;
            margin-top: 0.1rem;
            width: 2.4rem;
            height: 2.4rem;
            background-color: #f0f0f0;
          }
        }
      }
      .input-HXU {
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin: 0rem 0.904rem 1.7rem 0.404rem;
        width: calc(100% - 1.308rem);
        display: flex;
        flex-direction: column;

        .label-2V4 {
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          font-size: 1.3rem;
          font-weight: 600;
          line-height: 1.2307692308;
          color: #1e1f20;
        }
        .auto-group-wyqw-M1Y {
          width: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #f0f0f0;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.1rem 1.2rem 1.2rem 1.6rem;

          .detail-HA6 {
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 21.6rem 0.1rem 0rem;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.6;
            color: #ababab;
          }
          .fill-cCN {
            width: 2.4rem;
            height: 2.4rem;
            background-color: #f0f0f0;
            flex-shrink: 0;
            margin-top: 0.1rem;
          }
        }
      }
      .btnnext-uxA {
        padding: 1.3rem 11.1rem 1.3rem 12rem;
        width: calc(100% - 1.308rem);
        height: 5rem;
        background: linear-gradient(45deg, #30c084 0%, #56e0e0 100%);
        flex-shrink: 0;
        margin: 0rem 0.904rem 0rem 0.404rem;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 1.2rem;

        .icon-21C {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .label-ySE {
            flex-shrink: 0;
            margin-right: 0.8rem;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.2;
            color: #ffffff;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
          }
          .icons-24pt-icnext-iei {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 2.4rem;
            height: 2.4rem;
          }
        }
      }
    }
    .icon-DLa {
      background-color: #ffffff;
      flex-shrink: 0;
      width: 100%;
      height: 8.7rem;
      position: relative;

      .tab-AFp {
        left: 0;
        top: 0;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 0.8rem 1.7rem 0.8rem 1.8rem;
        width: 7.5rem;
        height: 8.7rem;
        position: absolute;

        .auto-group-y43q-tBp {
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          margin-bottom: 3.1rem;
        }
      }
      .tab-RBk {
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 1.8rem 2.7rem 1.8rem 2.8rem;
        width: 7.5rem;
        height: 8.7rem;
        position: absolute;
        left: 7.5rem;
        top: 0;

        .icons-24pt-icsearchnormal-wft {
          margin-bottom: 3.1rem;
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .tab-TeE {
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 1.8rem 2.7rem 1.8rem 2.8rem;
        width: 7.5rem;
        height: 8.7rem;
        position: absolute;
        left: 15rem;
        top: 0;

        .icons-24pt-ichealthnormal-Bq8 {
          vertical-align: top;
          margin-bottom: 3.1rem;
          width: 2rem;
          height: 2rem;
          object-fit: contain;
        }
      }
      .tab-KRY {
        top: 0;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 1.8rem 2.9rem 1.8rem 3rem;
        width: 7.5rem;
        height: 8.7rem;
        position: absolute;
        left: 22.5rem;

        .icons-24pt-icrecordnormal-EoQ {
          margin-bottom: 3.1rem;
          width: 1.6rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .tab-xjQ {
        box-sizing: border-box;
        padding: 1.8rem 2.7rem 1.8rem 2.8rem;
        width: 7.5rem;
        height: 8.7rem;
        position: absolute;
        left: 30rem;
        top: 0;
        background-color: #ffffff;

        .icons-24pt-icaccountnormal-Hmg {
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          margin-bottom: 3.1rem;
          width: 2rem;
        }
      }
      .home-indicatorblack-Rcz {
        background-color: rgba(255, 255, 255, 0.0001);
        box-sizing: border-box;
        padding: 2.1rem 12rem 0.8rem 12rem;
        width: 37.5rem;
        height: 3.4rem;
        position: absolute;
        left: 0;
        top: 5.3rem;

        .home-indicator-wLS {
          width: 100%;
          height: 0.5rem;
          background-color: rgba(30, 31, 32, 0.0001);
          border-radius: 10rem;
        }
      }
    }
  }
}
