
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.onboarding1-hL2 {
  width: 100%;
  height: 84.4rem;
  overflow: hidden;
  position: relative;
  background-color: #fafafa;

  .bg-7uY {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #30c084 50%, #56e0e0 150%);

    .auto-group-ffca-qDG {
      box-sizing: border-box;
      padding: 21.3rem 2.6rem 13.869rem 2.5rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-29-WKQ {
        height: 25.1rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        width: 100%;

        .group-28-RBU {
          height: 11.1704rem;
          position: absolute;
          left: 23.7976rem;
          top: 3.7887rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          width: 9.4717rem;

          .ellipse-2-Kne {
            width: 2.9856rem;
            height: 2.9856rem;
            background-color: #ffffff;
            border-radius: 1.4928rem;
            flex-shrink: 0;
            margin-bottom: 0.3089rem;
          }
          .ellipse-1-xz2 {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2.0591rem;
            width: 7.4126rem;
            height: 7.8759rem;
            object-fit: contain;
          }
        }
        .grow-your-business-s5Q {
          height: 25.1rem;
          position: absolute;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          width: 33.9rem;
          left: 0;
          top: 0;
          font-size: 6.9579rem;
          font-weight: 800;
          line-height: 1.2;
        }
      }
      .we-provide-great-solution-for-save-your-time-to-get-all-your-business-message-in-one-place-vJa {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        max-width: 32.5rem;
        font-size: 1.9rem;
        line-height: 1.4210526316;
        color: #ffffff;
      }
      .group-3-n5t {
        margin: 0rem 0.756rem 0rem 0.8rem;
        width: calc(100% - 1.556rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .auto-group-s8r4-hTk {
          height: 5.197rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 2.3rem;
          width: 100%;

          .btnlogin-poG {
            flex-shrink: 0;
            margin-right: 2.496rem;
            width: 14.872rem;
            height: 100%;
            border-radius: 1.2rem;

            .btn-AML {
              text-align: center;
              font-size: 1.5rem;
              font-weight: 700;
              display: flex;
              width: 100%;
              cursor: pointer;
              border: solid 0.1rem #ffffff;
              line-height: 1.2;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              height: 100%;
              color: #ffffff;
              justify-content: center;
              box-sizing: border-box;
              border-radius: 1.2rem;
            }
          }
          .btnsignup-o9Q {
            cursor: pointer;
            border-radius: 1.2rem;
            flex-shrink: 0;
            width: 14.976rem;
            height: 100%;

            .btn-9DG {
              line-height: 1.2;
              color: #12b2b3;
              align-items: center;
              width: 100%;
              font-weight: 700;
              white-space: nowrap;
              justify-content: center;
              box-shadow: 0 1rem 2rem #12b2b3;
              border-radius: 1.2rem;
              text-align: center;
              font-size: 1.5rem;
              height: 100%;
              background-color: #ffffff;
              font-family: Mulish, 'Source Sans Pro';
              display: flex;
            }
          }
        }
        .are-you-a-doctor-ge-CxE {
          display: flex;
          align-items: baseline;
          flex-shrink: 0;
          margin-left: 0.148rem;
          text-align: center;
          color: #ffffff;
          font-family: Mulish, 'Source Sans Pro';
          font-size: 1.3rem;
          font-weight: 600;
          line-height: 1.2307692308;
          white-space: nowrap;

          .are-you-a-doctor-ge-CxE-sub-0 {
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.2307692308;
            color: #ffffff;
          }
          .are-you-a-doctor-ge-CxE-sub-1 {
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.2307692308;
            text-decoration-line: underline;
            color: #ffffff;
          }
        }
      }
    }
    .home-indicatorblack-vvA {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.0001);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.2rem 12.8rem 0.834rem 12.7rem;

      .home-indicator-3jt {
        width: 100%;
        height: 0.5rem;
        background-color: rgba(255, 255, 255, 0.0001);
        border-radius: 10rem;
      }
    }
  }
}
