
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.paymentadded-promo-code-FYJ {
  width: 100%;
  overflow: hidden;
  align-items: center;
  background-color: #fafafa;
  box-sizing: border-box;
  padding: 0rem 0.7rem 0rem 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;

  .navigationbar-ZYz {
    background-color: #fafafa;
    flex-shrink: 0;
    margin: 0rem 0rem 1.6rem 0.2rem;
    box-sizing: border-box;
    padding: 1.2rem 1.467rem 1.6rem 2.4rem;
    align-items: center;
    flex-direction: column;
    width: 37.5rem;
    display: flex;

    .status-bar-3yx {
      margin: 0rem 0rem 2.2rem 1rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .time-bEn {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.2857142857;
        color: #1e1f20;
        font-family: Mulish, 'Source Sans Pro';
        margin-right: 23.1667rem;
        text-align: center;
        letter-spacing: -0.028rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .cellular-connection-V5G {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.503rem 0.167rem 0rem;
        width: 1.7rem;
        height: 1.0667rem;
        object-fit: contain;
      }
      .wifi-o5x {
        margin: 0rem 0.503rem 0.17rem 0rem;
        width: 1.5272rem;
        height: 1.0966rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .battery-8P8 {
        width: 2.4328rem;
        height: 1.1333rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.1333rem;
      }
    }
    .auto-group-gujw-53U {
      margin-right: 0.9328rem;
      width: 32.7rem;
      flex-shrink: 0;

      .licon-cp6 {
        margin-right: 28.7rem;
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .content-wbU {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-mtfg-JB8 {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 1.724rem 3.6rem 2.6rem;
      width: 100%;
      display: flex;

      .title-djC {
        margin-bottom: 4rem;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .step-3-of-3-Bki {
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.2307692308;
          color: #1e1f20;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
        }
        .confirm-payment-WHC {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.1666666667;
          color: #1e1f20;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .payment-2mL {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 33.3rem;

        .bg-myp {
          vertical-align: top;
          width: 32.7rem;
          height: 33.3rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
        }
        .payment-method-vLv {
          top: 18.3rem;
          display: flex;
          align-items: center;
          width: 29.264rem;
          height: 11.1537rem;
          position: absolute;
          left: 1.8rem;

          .auto-group-ym4a-F8J {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 3.16rem;
            height: 100%;
            align-items: center;
            display: flex;

            .credit-card-PkJ {
              cursor: pointer;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.024rem 1.47rem 0rem;
              width: 7.488rem;
              height: 7.4837rem;
            }
            .credit-card-X5p {
              font-size: 1.3rem;
              font-weight: 700;
              line-height: 1.6923076923;
              color: #1e1f20;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
            }
          }
          .auto-group-nuga-45k {
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 3.328rem;

            .bkash-cNA {
              height: 7.4837rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 1.47rem;
              width: 7.488rem;
            }
            .paypal-kzA {
              font-family: Poppins, 'Source Sans Pro';
              margin-left: 0.104rem;
              text-align: center;
              line-height: 1.6923076923;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.3rem;
              font-weight: 600;
              color: #000000;
            }
          }
          .auto-group-rfqr-gcv {
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .apple-pay-Srz {
              width: 7.488rem;
              height: 7.4837rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 1.47rem;
            }
            .apple-pay-C5U {
              line-height: 1.6923076923;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.3rem;
              font-weight: 600;
            }
          }
        }
        .price-8Uv {
          width: 32.552rem;
          height: 10.6517rem;
          position: absolute;
          left: 0.824rem;
          top: 2.6rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-eg9k-FpS {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0rem 1.168rem 2.953rem 1.168rem;
            width: 100%;

            .group-31-zGE {
              margin: 0rem 1.408rem 0.6rem 0rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .icvoicecall-vfg {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.248rem;
                width: 2.496rem;
                height: 2.4946rem;
              }
              .service-price-UBQ {
                font-family: Mulish, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.105rem 2.964rem 0rem 0rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2;
                color: #1e1f20;
              }
              .item-45-zQe {
                font-weight: 400;
                color: #9393aa;
                flex-shrink: 0;
                margin: 0.105rem 0.8rem 0rem 0rem;
                font-size: 1.5rem;
                font-family: Mulish, 'Source Sans Pro';
                white-space: nowrap;
                line-height: 1.2;
                text-decoration-line: line-through;
              }
              .visit-hpr {
                font-weight: 700;
                line-height: 1.2;
                color: #1e1f20;
                font-family: Mulish, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1054rem;
                font-size: 1.5rem;
              }
            }
            .group-30-dTc {
              margin: 0rem 1.2rem 1.395rem 6.708rem;
              width: calc(100% - 7.908rem);
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;

              .firstcare-saved-1-wz6 {
                font-weight: 700;
                color: #1da1f2;
                font-family: Mulish, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 0.544rem;
                font-size: 1.3rem;
                display: flex;
                align-items: baseline;
                line-height: 1.2307692308;
                white-space: nowrap;

                .firstcare-saved-1-wz6-sub-0 {
                  font-size: 1.3rem;
                  font-weight: 700;
                  line-height: 1.2307692308;
                  color: #30c084;
                  font-family: Mulish, 'Source Sans Pro';
                }
                .firstcare-saved-1-wz6-sub-1 {
                  font-family: Mulish, 'Source Sans Pro';
                  font-size: 1.3rem;
                  font-weight: 700;
                  line-height: 1.2307692308;
                  color: #1da1f2;
                }
                .firstcare-saved-1-wz6-sub-2 {
                  font-family: Mulish, 'Source Sans Pro';
                  font-size: 1.3rem;
                  font-weight: 400;
                  line-height: 1.2307692308;
                  color: #1e1f20;
                }
              }
              .tagpromocode-dP4 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0424rem;
                width: 1.664rem;
                height: 1.6631rem;
              }
            }
            .satisfaction-gu-ZXc {
              color: #9393aa;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.696rem;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2727272727;
            }
          }
          .line-hNv {
            background-color: #f6f6f6;
            flex-shrink: 0;
            width: 100%;
            height: 0.1039rem;
          }
        }
      }
    }
    .fix-button-rFp {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .btndone-Qo8 {
        box-sizing: border-box;
        height: 5rem;
        border-radius: 1.2rem;
        flex-shrink: 0;
        margin: 0rem 2.4rem 7.3rem 2.6rem;
        padding: 1.3rem 7.5rem 1.3rem 6.8rem;
        width: calc(100% - 5rem);
        cursor: pointer;
        background: linear-gradient(45deg, #30c084 0%, #56e0e0 100%);

        .icon-X74 {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .icons-24pt-icsecurepay-gke {
            margin-right: 0.8rem;
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .label-2Ji {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.2;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
      }
      .auto-group-gwbp-86r {
        width: 100%;
        height: 15.6rem;
        position: relative;
        flex-shrink: 0;

        .bg-UAi {
          box-sizing: border-box;
          width: 37.5rem;
          height: 9.6rem;
          position: absolute;
          left: 0.2rem;
          top: 0;
          backdrop-filter: blur(0.85rem);
          padding-top: 6.2rem;
          background-color: rgba(255, 255, 255, 0.6800000072);

          .home-indicatorblack-QKG {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.0001);
            box-sizing: border-box;
            padding: 2.1rem 12rem 0.8rem 12rem;

            .home-indicator-Lii {
              width: 100%;
              height: 0.5rem;
              background-color: rgba(30, 31, 32, 0.0001);
              border-radius: 10rem;
            }
          }
        }
        .icon-SWr {
          width: 37.5rem;
          height: 8.7rem;
          position: absolute;
          left: 0;
          top: 6.9rem;
          background-color: #ffffff;

          .tab-Ahk {
            position: absolute;
            left: 0;
            top: 0;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 0.8rem 1.7rem 0.8rem 1.8rem;
            width: 7.5rem;
            height: 8.7rem;

            .auto-group-k8nj-tdk {
              margin-bottom: 3.1rem;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .tab-1yG {
            left: 7.5rem;
            top: 0;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 1.8rem 2.7rem 1.8rem 2.8rem;
            width: 7.5rem;
            height: 8.7rem;
            position: absolute;

            .icons-24pt-icsearchnormal-93t {
              margin-bottom: 3.1rem;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .tab-FMp {
            top: 0;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 1.8rem 2.7rem 1.8rem 2.8rem;
            width: 7.5rem;
            height: 8.7rem;
            position: absolute;
            left: 15rem;

            .icons-24pt-ichealthnormal-ZdQ {
              object-fit: contain;
              vertical-align: top;
              margin-bottom: 3.1rem;
              width: 2rem;
              height: 2rem;
            }
          }
          .tab-tfg {
            left: 22.5rem;
            top: 0;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 1.8rem 2.9rem 1.8rem 3rem;
            width: 7.5rem;
            height: 8.7rem;
            position: absolute;

            .icons-24pt-icrecordnormal-CwG {
              width: 1.6rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              margin-bottom: 3.1rem;
            }
          }
          .tab-vsG {
            position: absolute;
            left: 30rem;
            top: 0;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 1.8rem 2.7rem 1.8rem 2.8rem;
            width: 7.5rem;
            height: 8.7rem;

            .icons-24pt-icaccountnormal-f4A {
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              margin-bottom: 3.1rem;
              width: 2rem;
            }
          }
          .home-indicatorblack-Pkr {
            left: 0;
            top: 5.3rem;
            background-color: rgba(255, 255, 255, 0.0001);
            box-sizing: border-box;
            padding: 2.1rem 12rem 0.8rem 12rem;
            width: 37.5rem;
            height: 3.4rem;
            position: absolute;

            .home-indicator-Jsp {
              border-radius: 10rem;
              width: 100%;
              height: 0.5rem;
              background-color: rgba(30, 31, 32, 0.0001);
            }
          }
        }
      }
    }
  }
}
