
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.paymentadd-credit-card-J2J {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;

  .auto-group-4zxr-1hQ {
    box-sizing: border-box;
    padding: 0rem 0.7rem 6.3rem 0.8rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .navigationbar-5xA {
      flex-shrink: 0;
      align-items: center;
      box-sizing: border-box;
      padding: 1.2rem 1.467rem 1.6rem 2.4rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #fafafa;
      margin-bottom: 1.6rem;

      .status-bar-BkJ {
        flex-shrink: 0;
        margin: 0rem 0rem 2.2rem 1rem;
        display: flex;
        align-items: flex-end;

        .time-iVL {
          margin-right: 23.1667rem;
          text-align: center;
          font-size: 1.4rem;
          letter-spacing: -0.028rem;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 700;
          line-height: 1.2857142857;
          color: #1e1f20;
          flex-shrink: 0;
        }
        .cellular-connection-cKp {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.503rem 0.167rem 0rem;
          width: 1.7rem;
          height: 1.0667rem;
        }
        .wifi-qCa {
          width: 1.5272rem;
          height: 1.0966rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.503rem 0.17rem 0rem;
        }
        .battery-Ysg {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.1333rem;
          width: 2.4328rem;
          height: 1.1333rem;
          position: relative;
          object-fit: contain;
        }
      }
      .auto-group-xdhp-5sc {
        width: 32.7rem;
        flex-shrink: 0;
        margin-right: 0.9328rem;

        .licon-deE {
          object-fit: contain;
          vertical-align: top;
          margin-right: 28.7rem;
          width: 4rem;
          height: 4rem;
        }
      }
    }
    .card-kir {
      margin: 0rem 2.4rem 2.4rem 2.4rem;
      width: calc(100% - 4.8rem);
      height: 20rem;
      position: relative;
      flex-shrink: 0;

      .shadow-4zS {
        top: 18rem;
        box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.5), 0 0.2rem 3rem #20a085;
        background-color: #ffffff;
        width: 27.9rem;
        height: 2rem;
        position: absolute;
        left: 2.4rem;
      }
      .bg-AXg {
        left: 0;
        top: 0;
        background-color: #ffffff;
        border-radius: 1.2rem;
        width: 32.7rem;
        height: 20rem;
        position: absolute;

        .auto-group-1jle-7C2 {
          width: 32.7rem;
          height: 20rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .icmaster-dw4 {
        width: 4.7499rem;
        height: 2.9246rem;
        position: absolute;
        left: 25.5rem;
        top: 2.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .information-Zpi {
        left: 2.4rem;
        align-items: center;
        position: absolute;
        height: 15.3rem;
        top: 2.5rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 26.4rem;

        .auto-group-lh3c-sqQ {
          box-sizing: border-box;
          padding-bottom: 1.6rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .card-holder-dZg {
            font-size: 1.1rem;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            white-space: nowrap;
            margin-bottom: 0.4rem;
            line-height: 1.2727272727;
            font-family: Mulish, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .devin-shelton-MEn {
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2;
            color: #ffffff;
            font-family: Oswald, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-i6e2-siv {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item-4645-2bp {
            font-size: 2.8rem;
            font-weight: 400;
            line-height: 1.4825;
            letter-spacing: 0.2rem;
            font-family: Oswald, 'Source Sans Pro';
            margin-right: 1.2rem;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-5686-Yq4 {
            margin-right: 1.1rem;
            flex-shrink: 0;
            color: #ffffff;
            font-family: Oswald, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.8rem;
            font-weight: 400;
            line-height: 1.4825;
            letter-spacing: 0.2rem;
          }
          .item-897-scS {
            margin-right: 0.1rem;
            font-size: 2.8rem;
            font-weight: 400;
            line-height: 1.4825;
            letter-spacing: 0.2rem;
            color: #ffffff;
            font-family: Oswald, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .combined-shape-Hw4 {
            margin-top: 0.4rem;
            width: 6.8rem;
            height: 0.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-hppe-dV8 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 2.3rem;
          width: 100%;

          .auto-group-n1lz-mrE {
            flex-shrink: 0;
            margin: 0rem 1.7rem 0.4rem 0rem;
            width: calc(100% - 1.7rem);
            display: flex;
            align-items: center;

            .exp-date-VXL {
              margin-right: 16.9rem;
              font-size: 1.1rem;
              font-family: Mulish, 'Source Sans Pro';
              flex-shrink: 0;
              font-weight: 700;
              line-height: 1.2727272727;
              text-transform: uppercase;
              color: #ffffff;
              white-space: nowrap;
            }
            .cvv-p3p {
              line-height: 1.2727272727;
              text-transform: uppercase;
              color: #ffffff;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.1rem;
              font-weight: 700;
            }
          }
          .auto-group-5x1l-kCN {
            flex-shrink: 0;
            margin-right: 1.2rem;
            width: calc(100% - 1.2rem);
            display: flex;
            align-items: flex-end;

            .mm-yy-tJa {
              font-family: Oswald, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 18.3rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2;
              color: #ffffff;
            }
            .combined-shape-pxv {
              margin-bottom: 0.1rem;
              width: 2.9rem;
              height: 0.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .input-ZQi {
      flex-shrink: 0;
      margin: 0rem 2.4rem 2.4rem 2.4rem;
      width: calc(100% - 4.8rem);
      display: flex;
      flex-direction: column;
      border-radius: 0.8rem;

      .label-6Qe {
        font-family: Mulish, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.2307692308;
        color: #1e1f20;
      }
      .auto-group-dxja-34z {
        align-items: center;
        background-color: #ffffff;
        border-radius: 0.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.1rem 1.2rem 1.2rem 1.6rem;
        width: 100%;
        display: flex;
        border: solid 0.1rem #12b2b3;
        box-shadow: 0 0.5rem 1rem rgba(147, 147, 170, 0.1199999973);

        .auto-group-pwkg-mmg {
          margin: 0rem 16.7rem 0.1rem 0rem;
          width: 10.8rem;
          height: 2.4rem;
          position: relative;
          flex-shrink: 0;

          .detail-6ox {
            left: 0;
            line-height: 1.6;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            width: 10.8rem;
            height: 2.4rem;
            position: absolute;
            color: #1e1f20;
            top: 0;
            font-size: 1.5rem;
            font-weight: 600;
          }
          .pointer-1g2 {
            left: 9.9rem;
            top: 0.2rem;
            background-color: #1e1f20;
            width: 0.1rem;
            height: 2rem;
            position: absolute;
          }
        }
        .fill-9GS {
          margin-top: 0.1rem;
          width: 2.4rem;
          height: 2.4rem;
          background-color: #f0f0f0;
          flex-shrink: 0;
        }
      }
    }
    .btncontinue-DXC {
      padding: 1.3rem 12.6rem 1.3rem 13.5rem;
      height: 5rem;
      border-radius: 1.2rem;
      box-sizing: border-box;
      width: calc(100% - 4.8rem);
      cursor: pointer;
      background: linear-gradient(45deg, #30c084 0%, #56e0e0 100%);
      flex-shrink: 0;
      margin: 0 2.4rem;

      .icon-jVY {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .label-Vjc {
          color: #ffffff;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.8rem;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.2;
        }
        .icons-24pt-icnext-3FL {
          width: 2.4rem;
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .keyboard-XgJ {
    height: 29.1rem;
    position: relative;
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:b76f1d57372a6ee88f422b6b7cf8d0a85c7c8143');
    flex-shrink: 0;
    width: 39rem;
  }
}
