
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.change-new-password-21C {
  width: 360%;
  height: 360%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}
.change-new-password-21C .navigationbar-Zmp {
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding: 1.2rem 1.467rem 1.6rem 2.4rem;
  width: 37.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  flex-shrink: 0;
}
.change-new-password-21C .navigationbar-Zmp .status-bar-GgE {
  margin: 0rem 0rem 2.2rem 1rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.change-new-password-21C .navigationbar-Zmp .status-bar-GgE .time-1ti {
  margin-right: 23.1667rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2857142857;
  letter-spacing: -0.028rem;
  color: #1e1f20;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.change-new-password-21C .navigationbar-Zmp .status-bar-GgE .cellular-connection-WKg {
  margin: 0rem 0.503rem 0.167rem 0rem;
  width: 1.7rem;
  height: 1.0667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.change-new-password-21C .navigationbar-Zmp .status-bar-GgE .wifi-RhY {
  margin: 0rem 0.503rem 0.17rem 0rem;
  width: 1.5272rem;
  height: 1.0966rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.change-new-password-21C .navigationbar-Zmp .status-bar-GgE .battery-ZHx {
  margin-bottom: 0.1333rem;
  width: 2.4328rem;
  height: 1.1333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.change-new-password-21C .navigationbar-Zmp .auto-group-n4tg-6Yn {
  margin-right: 0.9328rem;
  width: 32.7rem;
  flex-shrink: 0;
}
.change-new-password-21C .navigationbar-Zmp .auto-group-n4tg-6Yn .licon-Sce {
  margin-right: 28.7rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
}
.change-new-password-21C .content-A2r {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS {
  box-sizing: border-box;
  padding: 0rem 2.404rem 19.957rem 2.496rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .recovery-password-3MY {
  margin: 0rem 11.6rem 0.694rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1666666667;
  color: #1e1f20;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .reset-code-was-sent-9vN {
  margin-bottom: 4.331rem;
  max-width: 34.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6923076923;
  color: #1e1f20;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .input-fti {
  margin: 0rem 0.092rem 2.763rem 0rem;
  width: 34.008rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .input-fti .label-QrJ {
  margin-bottom: 0.4rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.2307692308;
  color: #1e1f20;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .input-fti .auto-group-4a3y-kQN {
  box-sizing: border-box;
  padding: 1.1rem 1.208rem 1.2rem 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #f0f0f0;
  border-radius: 0.8rem;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .input-fti .auto-group-4a3y-kQN .detail-szn {
  margin: 0rem 24.3rem 0.1rem 0rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.6;
  color: #1e1f20;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .input-fti .auto-group-4a3y-kQN .fill-DHx {
  margin-top: 0.1rem;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #f0f0f0;
  flex-shrink: 0;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .input-Krn {
  margin: 0rem 0.092rem 2.763rem 0rem;
  width: 34.008rem;
  flex-shrink: 0;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .input-Krn .label-ffk {
  margin-bottom: 0.4rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.2307692308;
  color: #1e1f20;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .input-Krn .auto-group-qasr-DBU {
  box-sizing: border-box;
  padding: 1.4rem 1.408rem 1.4rem 1.664rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #f0f0f0;
  border-radius: 0.8rem;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .input-Krn .auto-group-qasr-DBU .password-9L2 {
  margin: 0.555rem 16.456rem 0rem 0rem;
  width: 12.48rem;
  height: 0.8315rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .input-Krn .auto-group-qasr-DBU .icons-24pt-iceyeon-4Sz {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .input-n86 {
  margin: 0rem 0.092rem 2.763rem 0rem;
  width: 34.008rem;
  flex-shrink: 0;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .input-n86 .label-7gA {
  margin-bottom: 0.4rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.2307692308;
  color: #1e1f20;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .input-n86 .auto-group-8yfc-4LW {
  box-sizing: border-box;
  padding: 1.4rem 1.408rem 1.4rem 1.664rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #f0f0f0;
  border-radius: 0.8rem;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .input-n86 .auto-group-8yfc-4LW .password-ape {
  margin: 0.555rem 16.456rem 0rem 0rem;
  width: 12.48rem;
  height: 0.8315rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .input-n86 .auto-group-8yfc-4LW .icons-24pt-iceyeon-WiJ {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .btnchange-qEn {
  margin-right: 0.092rem;
  width: 34.008rem;
  height: 5.197rem;
  cursor: pointer;
  flex-shrink: 0;
}
.change-new-password-21C .content-A2r .auto-group-uj1l-KgS .btnchange-qEn .btn-aiA {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #30c084 0%, #56e0e0 100%);
  border-radius: 1.2rem;
}
.change-new-password-21C .content-A2r .home-indicatorblack-47Y {
  box-sizing: border-box;
  padding: 2.2rem 12.8rem 0.834rem 12.7rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.0001);
  flex-shrink: 0;
}
.change-new-password-21C .content-A2r .home-indicatorblack-47Y .home-indicator-b7U {
  width: 100%;
  height: 0.5rem;
  background-color: rgba(30, 31, 32, 0.0001);
  border-radius: 10rem;
}
