
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.social-media-JkE {
  box-sizing: border-box;
  padding: 1.2rem 0rem 0rem 0.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}
.social-media-JkE .navigation-DMQ {
  margin: 0rem 1.467rem 3.4rem 2.3rem;
  width: calc(100% - 3.7672rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.social-media-JkE .navigation-DMQ .status-bar-KvE {
  margin: 0rem 0rem 7.6rem 0.784rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.social-media-JkE .navigation-DMQ .status-bar-KvE .time-478 {
  margin-right: 24.1573rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2857142857;
  letter-spacing: -0.028rem;
  color: #1e1f20;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-JkE .navigation-DMQ .status-bar-KvE .cellular-connection-kEr {
  margin: 0rem 0.523rem 0.167rem 0rem;
  width: 1.768rem;
  height: 1.0667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-JkE .navigation-DMQ .status-bar-KvE .wifi-4mL {
  margin: 0rem 0.68rem 0.17rem 0rem;
  width: 1.5883rem;
  height: 1.0966rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-JkE .navigation-DMQ .status-bar-KvE .battery-Poc {
  margin-bottom: 0.1333rem;
  width: 2.4328rem;
  height: 1.1333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-JkE .navigation-DMQ .my-plus-jca {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1666666667;
  color: #1e1f20;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ {
  margin-bottom: 5.5rem;
  width: 36.2rem;
  height: 56.2rem;
  position: relative;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .mdi-web-mpA {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 31.2rem;
  top: 0;
  overflow: hidden;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ {
  width: 32.8rem;
  height: 56.2rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-xsar-4HU {
  margin: 0rem 0.1rem 1.599rem 0rem;
  width: 32.7rem;
  height: 15.3912rem;
  position: relative;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-xsar-4HU .my-question-aWi {
  box-sizing: border-box;
  padding: 10.955rem 4.65rem 2.436rem 4.65rem;
  width: 15.5rem;
  height: 15.1914rem;
  position: absolute;
  left: 17.2rem;
  top: 0.1999rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.3846152672;
  color: #1e1f20;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4808rem 0.9615rem rgba(0, 64, 128, 0.0399999991);
  background-color: #ffffff;
  border-radius: 1.5385rem;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-xsar-4HU .consults-manage-gTG {
  box-sizing: border-box;
  padding-right: 0.0004rem;
  width: 27.375rem;
  height: 15.3912rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-xsar-4HU .consults-manage-gTG .auto-group-pxjj-zyk {
  margin-right: 7.0042rem;
  box-sizing: border-box;
  padding: 4.232rem 5rem 2.629rem 5rem;
  width: 15.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4808rem 0.9615rem rgba(0, 64, 128, 0.0399999991);
  background-color: #ffffff;
  border-radius: 1.5385rem;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-xsar-4HU .consults-manage-gTG .auto-group-pxjj-zyk .vector-uqp {
  margin: 0rem 0.617rem 2.734rem 0rem;
  width: 4.0064rem;
  height: 3.9964rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-xsar-4HU .consults-manage-gTG .auto-group-pxjj-zyk .consults-history-3BL {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.3846152672;
  color: #1e1f20;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-xsar-4HU .consults-manage-gTG .logos-whatsapp-icon-Kee {
  margin-bottom: 2.9053rem;
  width: 4.7704rem;
  height: 4.7918rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-tsrg-egv {
  margin: 0rem 0rem 1.599rem 0.1rem;
  width: calc(100% - 0.1rem);
  height: 15.3913rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-tsrg-egv .health-guide-BB4 {
  margin-right: 1.6rem;
  box-sizing: border-box;
  padding: 4.098rem 4.75rem 3.273rem 4.75rem;
  width: 15.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4808rem 0.9615rem rgba(0, 64, 128, 0.0399999991);
  background-color: #ffffff;
  border-radius: 1.5385rem;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-tsrg-egv .health-guide-BB4 .vector-Hjt {
  margin: 0rem 0rem 2.056rem 0.067rem;
  width: 4.1667rem;
  height: 4.1643rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-tsrg-egv .health-guide-BB4 .health-guide-dHx {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.3846152672;
  color: #1e1f20;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-tsrg-egv .care-team-91Q {
  box-sizing: border-box;
  padding: 4.453rem 5.717rem 3.273rem 5.692rem;
  width: 15.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4808rem 0.9615rem rgba(0, 64, 128, 0.0399999991);
  background-color: #ffffff;
  border-radius: 1.5385rem;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-tsrg-egv .care-team-91Q .vector-Gbp {
  margin-bottom: 2.4599rem;
  width: 4.1907rem;
  height: 3.4055rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-tsrg-egv .care-team-91Q .care-team-RUi {
  margin-left: 0.0247rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.3846152672;
  color: #1e1f20;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-ann2-76e {
  margin: 0rem 0rem 1.628rem 0.1rem;
  width: calc(100% - 0.1rem);
  height: 15.5911rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-ann2-76e .family-medical-records-2jQ {
  margin-right: 1.6rem;
  box-sizing: border-box;
  padding: 2.943rem 5.05rem 4.886rem 5.05rem;
  width: 15.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4808rem 0.9615rem rgba(0, 64, 128, 0.0399999991);
  background-color: #ffffff;
  border-radius: 1.5385rem;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-ann2-76e .family-medical-records-2jQ .logos-telegram-wbU {
  margin: 0rem 0.492rem 1.154rem 0rem;
  width: 4.8077rem;
  height: 4.8077rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-ann2-76e .family-medical-records-2jQ .family-medical-recor-G7x {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.3846152672;
  color: #1e1f20;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-ann2-76e .medication-reminder-mKc {
  box-sizing: border-box;
  padding: 3.419rem 5.733rem 4.886rem 5.7rem;
  width: 15.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4808rem 0.9615rem rgba(0, 64, 128, 0.0399999991);
  background-color: #ffffff;
  border-radius: 1.5385rem;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-ann2-76e .medication-reminder-mKc .vector-VFc {
  margin-bottom: 1.3189rem;
  width: 4.1667rem;
  height: 4.1667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .auto-group-ann2-76e .medication-reminder-mKc .medication-reminder-Rux {
  margin-left: 0.0333rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.3846152672;
  color: #1e1f20;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .btnnext-7nn {
  box-sizing: border-box;
  padding: 1.3rem 7.05rem 1.3rem 7.95rem;
  width: 32.7rem;
  height: 5rem;
  cursor: pointer;
  background: linear-gradient(45deg, #30c084 0%, #56e0e0 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .btnnext-7nn .icon-eXp {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .btnnext-7nn .icon-eXp .label-ofc {
  margin-right: 0.8rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .auto-group-madl-RkJ .feature-ijQ .btnnext-7nn .icon-eXp .icons-24pt-icnext-k54 {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .icon-q6W {
  margin-right: 1rem;
  width: 37.5rem;
  height: 8.7rem;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.social-media-JkE .content-4uk .icon-q6W .tab-NML {
  box-sizing: border-box;
  padding: 1.6rem 2.5rem 1.6rem 2.6rem;
  width: 7.5rem;
  height: 8.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.social-media-JkE .content-4uk .icon-q6W .tab-NML .icons-24pt-ichomenormal-6o8 {
  margin-bottom: 3.1rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}
.social-media-JkE .content-4uk .icon-q6W .tab-dHG {
  box-sizing: border-box;
  padding: 1.8rem 2.7rem 1.8rem 2.8rem;
  width: 7.5rem;
  height: 8.7rem;
  position: absolute;
  left: 7.5rem;
  top: 0;
  background-color: #ffffff;
}
.social-media-JkE .content-4uk .icon-q6W .tab-dHG .icons-24pt-icsearchnormal-MUA {
  margin-bottom: 3.1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
}
.social-media-JkE .content-4uk .icon-q6W .tab-sxJ {
  box-sizing: border-box;
  padding: 0.8rem 1.7rem 0.8rem 1.8rem;
  width: 7.5rem;
  height: 8.7rem;
  position: absolute;
  left: 15rem;
  top: 0;
  background-color: #ffffff;
}
.social-media-JkE .content-4uk .icon-q6W .tab-sxJ .auto-group-u8fx-QBY {
  margin-bottom: 3.1rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
}
.social-media-JkE .content-4uk .icon-q6W .tab-vva {
  box-sizing: border-box;
  padding: 1.8rem 2.9rem 1.8rem 3rem;
  width: 7.5rem;
  height: 8.7rem;
  position: absolute;
  left: 22.5rem;
  top: 0;
  background-color: #ffffff;
}
.social-media-JkE .content-4uk .icon-q6W .tab-vva .icons-24pt-icrecordnormal-fNN {
  margin-bottom: 3.1rem;
  width: 1.6rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
}
.social-media-JkE .content-4uk .icon-q6W .tab-Bbc {
  box-sizing: border-box;
  padding: 1.8rem 2.7rem 1.8rem 2.8rem;
  width: 7.5rem;
  height: 8.7rem;
  position: absolute;
  left: 30rem;
  top: 0;
  background-color: #ffffff;
}
.social-media-JkE .content-4uk .icon-q6W .tab-Bbc .icons-24pt-icaccountnormal-Wdt {
  margin-bottom: 3.1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
}
.social-media-JkE .content-4uk .icon-q6W .home-indicatorblack-eEJ {
  box-sizing: border-box;
  padding: 2.1rem 12rem 0.8rem 12rem;
  width: 37.5rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  background-color: rgba(255, 255, 255, 0.0001);
}
.social-media-JkE .content-4uk .icon-q6W .home-indicatorblack-eEJ .home-indicator-ACe {
  width: 100%;
  height: 0.5rem;
  background-color: rgba(30, 31, 32, 0.0001);
  border-radius: 10rem;
}
